.baseLoader {
    animation: spin .7s ease-out infinite;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: rotateZ(360deg);
        opacity: 1;
    }
}