/* width */
.messagesList::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
}

/* Track */
.messagesList::-webkit-scrollbar-track {
    background: #f8f8f8;
}

/* Handle */
.messagesList::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 20px;
}

/* Handle on hover */
.messagesList::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}